{% extends "base.html" %}

{% block content %}
<h1>Customer List</h1>

<a href="{% url 'customer_add' %}">➕ Add Customer</a>

<ul>
    {% for customer in customers %}
        <li>
            {{ customer.name }} - {{ customer.email }} - {{ customer.phone }}
            | <a href="{% url 'customer_detail' customer.id %}">Details</a>
            | <a href="{% url 'customer_edit' customer.id %}">Edit</a>
            | <a href="{% url 'customer_delete' customer.id %}">Delete</a>
        </li>
    {% empty %}
        <li>No customers found.</li>
    {% endfor %}
</ul>
{% endblock %}
